:root {
    --bg: #edfdfd;
    --yellow: #EDB74D;
    --red: #EB6666;
    --green: #6FB18A;
}

html {
    scroll-behavior: smooth;
}

@font-face {
    font-family: Recoleta;
    src: url(../fonts/Recoleta-RegularDEMO.otf);
}

body {
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: auto !important;
    scroll-behavior: smooth;
    overflow-x: hidden;
    position: relative;
    background-color: var(--bg);
    margin: 0rem 5% 0 5%;
    line-height: 1.75;
    font-family: "Recoleta";
}

h1 {
    font-size: 4.210rem;
    /* 67.36px */
    font-weight: normal;
    margin: 0;
    color: #042514;
}

h2 {
    font-size: 3.158rem;
    margin: 0;
    /* 50.56px */
    color: #042514;
}

h3 {
    font-size: 2.369rem;
    /* 37.92px */
    color: #042514;
}

h4 {
    font-size: 1.777rem;
    /* 28.48px */
}

p,
span {
    font-size: 20px;
    color: #042514;
}


hr {
    width: 275px;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 8em;
    margin: 5rem 0;
    width: 100%;
}

.tech-stack {
    padding-top: 10rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 2em;
}

.img-hero {
    width: 550px;
    height: auto;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center center;
    box-shadow: 0 20px 5px 5px rgba(22, 39, 106, 0.251);
    animation: animate 5s ease-in-out infinite;
    transition: all 1s ease-in-out;

}

@keyframes animate {
    0% {
        border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
    }

    50% {
        border-radius: 30% 60% 70% 40%/50% 60% 30% 60%;
    }

    100% {
        border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
    }
}

.hero-img {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 3em;
    margin-right: 15em;
}

.nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    position: fixed;
    z-index: 9997;
    padding-right: 10%;
    padding-bottom: 5rem;
}

.nav-list {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
    gap: 3em;
    list-style: none;
}

.nav-link {
    text-decoration: none;
}

.nav-link:hover {
    line-height: 1.5;

}

.hero {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 10rem;
    width: 100%;
    height: 130%;
    gap: 3em;
    background:
        linear-gradient(to right, #000000 1px, transparent 1px) 0 0,
        linear-gradient(to right, #000000 1px, transparent 1px) 0 100%,
        linear-gradient(to left, #000000 1px, transparent 1px) 100% 0,
        linear-gradient(to left, #000000 1px, transparent 1px) 100% 100%,
        linear-gradient(to bottom, #000000 1px, transparent 1px) 0 0,
        linear-gradient(to bottom, #000000 1px, transparent 1px) 100% 0,
        linear-gradient(to top, #000000 1px, transparent 1px) 0 100%,
        linear-gradient(to top, #000000 1px, transparent 1px) 100% 100%;
    background-repeat: no-repeat;
    background-size: 20px 20px;
}

.hero-text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    margin-left: 15em;
}

.hero-icon {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 2em;
}


.icon {
    padding-right: 1em;
    color: #042514;
    /* color: #9652ad; */
    /* background: rgb(145, 92, 182, 0.8); */
    transition: all 0.2s ease-in-out;
}

.glow-icon:hover {
    color: #067f1e;
    text-shadow: 0 5px 15px rgba(145, 92, 182, .4);
}

.about-me {
    display: grid;
    grid-template-columns: 600px 600px;
    margin-top: 20em;
    background-color: #d1fae5;
    border-radius: 15px;
    padding-right: 2rem;
    padding-bottom: 2rem;
    box-shadow: 0 16px 32px rgba(22, 39, 106, 0.251);
    /* box-shadow: 0.5rem 0.5rem rgba(22, 116, 160, 0.9), -0.5rem -0.5rem #9652ad, inset 3px 3px 9px rgba(73, 73, 80, 0.3), inset -3px -3px 9px rgba(73, 73, 80, 0.3); */
}

.about-text p {
    line-height: 1.5;
}

.img-about {
    width: 500px;
    height: 475px;
    margin-top: 3em;
    margin-left: 3em;
    border-radius: 10px;
}

* {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

.projects {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 20em;
    align-items: center;
    gap: 3em;
}

#prod-title {
    line-height: 1.2;
}

.section-cards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;

}

.section-card {
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    padding: 3em;
    gap: 20px;
    border-radius: 10px;
    box-shadow: 0 16px 32px rgba(22, 39, 106, 0.251);

}

/* Float four columns side by side */
/* .column {
    float: left;
    width: 25%;
    padding: 0 10px;
} */

/* Remove extra left and right margins, due to padding in columns */
/* .row {
    margin: 0 -5px;
} */

/* Clear floats after the columns */
/* .row:after {
    content: "";
    display: table;
    clear: both;
} */

/* Style the counter cards */
.card {
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); */
    /* this adds the "card" effect */
    /* padding: 16px;
    text-align: center;
    background-color: #f1f1f1; */

}

/* Responsive columns - one column layout (vertical) on small screens */
@media screen and (max-width: 600px) {
    .section-card {
        width: 100%;
        display: block;
        margin-bottom: 20px;
    }
}


@media screen and (max-width: 1000px) {
    body {
        gap: 2em;
        margin: 6rem 5% 0 5%;
    }
}

@media screen and (max-width: 1500px) {
    body {
        margin: 0 12%;
    }
}