:root {
    --bg: #edfdfd;
    --yellow: #EDB74D;
    --red: #EB6666;
    --green: #6FB18A;
}

html {
    scroll-behavior: smooth;
}

.section > div {
    scroll-snap-align: start none;
}

@font-face {
    font-family: Recoleta;
    src: url(../fonts/Recoleta-RegularDEMO.otf);
}

body {
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: auto !important;
    overflow-x: hidden;
    position: relative;
    background-color: var(--bg);
    margin: 0rem 5% 0 5%;
    line-height: 1.75;
    font-family: "Recoleta";
}

.card span {
    padding: .5em .25em;
    background-color: #6b51bb;
    border-radius: .5em;
}

.card span:hover {
    background-color: #522acb;
}

.card span a {
    text-decoration: none;
    color: #fff;
}

h1 {
    font-size: 4.210rem;
    /* 67.36px */
    font-weight: normal;
    margin: 0;
    color: #042514;
}

h2 {
    font-size: 3.158rem;
    margin: 0;
    /* 50.56px */
    color: #042514;
}

h3 {
    font-size: 2rem;
    /* 37.92px */
    color: #042514;
}

h4 {
    font-size: 1.777rem;
    /* 28.48px */
}

p,
span {
    font-size: 20px;
    color: #042514;
}


hr {
    width: 275px;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 15em;
    margin: 5rem 0;
    width: 100%;
}


.img-hero {
    width: 100%;
    max-width: 550px;
    height: auto;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center center;
    box-shadow: 0 20px 5px 5px rgba(22, 39, 106, 0.251);
    animation: animate 5s ease-in-out infinite;
    transition: all 1s ease-in-out;

}

@keyframes animate {
    0% {
        border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
    }

    50% {
        border-radius: 30% 60% 70% 40%/50% 60% 30% 60%;
    }

    100% {
        border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
    }
}

.hero-img {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 3em;
    margin-right: 15em;
}

.nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    position: sticky;
    z-index: 9997;
    top: 0;
    bottom: 0;
}

.nav-list {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
    gap: 3em;
    list-style: none;
}

.nav-link {
    text-decoration: none;
}

.nav-link:hover {
    line-height: 1.5;

}

.hero {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 130%;
    gap: 3em;
    margin-bottom: 4.5rem;
    background:
        linear-gradient(to right, #000000 1px, transparent 1px) 0 0,
        linear-gradient(to right, #000000 1px, transparent 1px) 0 100%,
        linear-gradient(to left, #000000 1px, transparent 1px) 100% 0,
        linear-gradient(to left, #000000 1px, transparent 1px) 100% 100%,
        linear-gradient(to bottom, #000000 1px, transparent 1px) 0 0,
        linear-gradient(to bottom, #000000 1px, transparent 1px) 100% 0,
        linear-gradient(to top, #000000 1px, transparent 1px) 0 100%,
        linear-gradient(to top, #000000 1px, transparent 1px) 100% 100%;
    background-repeat: no-repeat;
    background-size: 20px 20px;
    scroll-padding-top: 400px;
}

.hero-text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    margin-left: 15em;
}

.hero-icon {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 2em;
}


.icon {
    padding-right: 1em;

    color: #042514;
    /* color: #9652ad; */
    /* background: rgb(145, 92, 182, 0.8); */
    transition: all 0.2s ease-in-out;
}

.glow-icon:hover {
    color: #522acb;
    text-shadow: 0 5px 15px rgba(145, 92, 182, .4);
}

.about-me {
    display: grid;
    grid-template-columns: 600px 600px;
    /* margin: 20em 0; */
    background-color: #d1fae5;
    border-radius: 15px;
    padding-right: 2rem;
    padding-bottom: 2rem;
    gap: 3em;
    box-shadow: 0 16px 32px rgba(22, 39, 106, 0.251);
    /* box-shadow: 0.5rem 0.5rem rgba(22, 116, 160, 0.9), -0.5rem -0.5rem #9652ad, inset 3px 3px 9px rgba(73, 73, 80, 0.3), inset -3px -3px 9px rgba(73, 73, 80, 0.3); */
}

.about-text p {
    line-height: 1.5;
}

.img-about {
    width: 100%;
    max-width: 550px;
    height: 475px;
    margin-top: 3em;
    margin-left: 3em;
    border-radius: 10px;
}

* {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

.projects {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 15em;
    align-items: center;
    gap: 3em;
}

#prod-title {
    line-height: 1.2;
}

.section-cards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
}

.section-card {
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    padding: 3em;
    gap: 20px;
    border-radius: 10px;
    box-shadow: 0 16px 32px rgba(22, 39, 106, 0.251);
    background-color: #f6f4f3;
}


/* Mobile navigation */

/* Responsive columns - one column layout (vertical) on small screens */
@media screen and (max-width: 768px) {
    .nav-list {
        display: none;
    }

    .nav .nav-list {
        display: flex;
        flex-direction: row;
        position: absolute;
        justify-content: center;
        align-items: center;
        top: 60px;
        left: 0;
        right: 0;
        background-color: var(--bg);
        /* padding: 1em; */
    }

    .about-me {
        width: 115%;
        display: flex;
        flex-direction: column;
    }

    .about-text {
        padding-left: 2rem;
        text-align: start;
    }

    .img-about {
        width: 100%;
        max-width: 550px;
        height: auto;
        margin-top: 2em;
        margin-left: 1em;
        border-radius: 10px;

    }

    .section-card {
        width: 100%;
        display: block;
        margin-bottom: 20px;
    }

    .section-cards {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: stretch;
    }

    .hero {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;

    }

    .hero-text {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        margin: 0 2rem;
        /* margin-left: 15em; */
    }

    .img-hero {
        width: 250px;
        /* max-width: 550px; */
        height: auto;
        margin-left: 15em;
        transition: none;

    }

    h1 {
        font-size: 2rem;
    }

    h5 {
        font-size: 1rem;
    }

    h3 {
        display: flex;
        font-size: 1.75rem;
    }
}


@media screen and (max-width: 1000px) {
    body {
        gap: 2em;
        margin: 6rem 5% 0 5%;
    }
}

@media screen and (max-width: 1500px) {
    body {
        margin: 0 12%;
    }
}